# UE4 Paths
*Intermediate/*
*Saved/*
*Binaries/*
*DerivedDataCache/*
*.sln
*.sdf
*.suo
*.ipch

*.vc.db
*.vc.db-wal
*.vc.db-shm

*Content/StarterContent/*




# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
